<!DOCTYPE html>
<html>

   <head>
      <title>Image Search Abstraction Layer</title>
      <link rel="shortcut icon" href="/assets/fav.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="server.js"></script>
   </head>

   <body>
      <div class="container">
            <h1 class="header">
                API Basejump: Image Search Abstraction Layer
            </h1>
            <blockquote>
                User stories:
                <ul>1) I can get the image URLs, alt text and page urls for a set of images relating to a given search string..</ul>
                <ul>2) I can paginate through the responses by adding a ?offset=2 parameter to the URL.</ul>
                <ul>3) I can get a list of the most recently submitted search strings.</ul>
            </blockquote>
            <h3>Example usage:</h3>
            <code>https://img-search1.glitch.me/api/imagesearch/lolcats%20funny?offset=10 </code><br>
            <code>https://img-search1.glitch.me/api/history</code><br>
            <h3>Example output:</h3>
            <code>
                {
                    "url": "https://i.ytimg.com/vi/r_o3q7zc21Y/hqdefault.jpg",
                    "snippet": "LOLCats - Funniest cat pictures for Android - YouTube",
                    "thumbnail": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtxCOQ1jMfrfEDBrBAkpR7Ifk1glwYlUgctm05hmgT1V_0LjTr3WX00tjE",
                    "context": "https://www.youtube.com/watch?v=r_o3q7zc21Y"
                  }
            </code>
              
              <h5>
                <br><br><br>By InfiniteS3t
              </h5>
        </div>
   </body>

</html>